/* Element Selectors */
body
{
	font-family:Arial;
	margin-left:2%;
	margin-right:2%;
}
h1 
{
	color:black;
	margin:0px;
	border:0;
	padding: 0.1em;
	font-size:4em;
	font-weight: bold;
}
h2 
{
	color:black;
	margin:0px;
	border:0;
	padding: 0.1em;
	font-size:3em;
	font-weight: bold;
}
h3 
{
	margin:0px;
	color:#2D7BE5;
	font-size:2.5em;
	font-weight: bold;
}
h4 
{
	color:#089E12;
	font-size:2em;
	font-weight: bold;
	margin:0px;
}
h5 
{
	font-size:1.5em;
	font-weight: bold;
	margin:0px;
}
aside p span
{
	color:red;
}
img 
{
	width: 100%;
	height: auto;
}
/* Class, Attribute, and Pseudo Selectors */
.dfoot 
{
	text-align:center;
}