/* Element Selectors */
body
{
	margin: 5px;
}
header
{
	color: black;
	float: left;
	width: 76%;
	margin-left:2%;	
}
figure img
{
	margin-left:2%;
	height: 100%;
	width: 100%;
	margin: 0px;
}
section
{
	float: left;
	width: 58%;	
	margin-left:2%;
}
aside
{
	float: left;
	width: 36%;
	margin-left:2%;
	margin-right:2%;
}
footer
{
	text-align: center;
}
a 
{
	font-size:1.2em;
	font-weight: bold;
}
/* Class, Attribute, and Pseudo Selectors */
.menu1
{
	float: right;
	margin-right: 2%;	
	width: 20%;	
}
.menu1 li
{
	border-right: 2px solid #999999;
	color: white;
	display: inline-block;
	list-style: none;	
	padding: 5px;
}
.menu1 li:last-child
{
	border-right: 0px;
}
.menu1 li a:hover
{
	text-decoration:none;
	color:black;
	font-weight: bold;   
}
.nfoot li
{
	border-right: 2px solid #999999;
	color: white;
	display: inline-block;
	list-style: none;	
	padding: 5px;
}
.nfoot li:last-child
{
	border-right: 0px;
}
.nfoot li a:hover
{
	text-decoration:none;
	color:black;
	font-weight: bold;   
}
/* Pseudo-element Selectors*/
h3 + p
{
	background:#F9CB9C;
	border-style:solid;
	padding:0.3%;
}

@media only screen and (min-width: 240px) and (max-width:320px )
{
	/* Group Selectors */
	h1 h2 h3 h4 h5
	{
		margin:0px;
		padding: 0px;
	}
	/* Element Selectors */
	figure 
	{
		margin:0px;
	}
	img 
	{
		width:100%;
	}
	section 
	{
		width:100%;
	}
	aside 
	{
		width:100%;
	}

	/* Class, Attribute, and Pseudo Selectors */
	.menu1
	{
		margin:0px;
		width:100%;
	}
	.menu1 ul
	{
		list-style: none;
		display: block;
		margin: 0px 0px 0px 2px;
		padding-left:0px;
	}
	 .menu1 ul li
	 {
		text-align: center;
		background:#DDDDDD;
		border:0px;
		display: block;
		margin-bottom: 5px;
		padding: 0.5%;
	}
	 .menu1 ul li:hover
	 {
		background:gray;
	}

	.nfoot
	{
		display:none;
	}

	/* Pseudo-element Selectors*/
	h3 + p
	{
		background:#F9CB9C;
		border-style:solid;
		padding:0.3%;
	}
	a:link, a:visited 
	{ 
		color:#406BA3;
		text-decoration: underline;
		font-size:1.2em;
		font-weight: bold;
	}
	a:hover 
	{
		color:black;
		text-decoration: none;
	}
}			
