* {
	margin: 0px;
	padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}
header{
font: bold 20px verdana, sans-serif;
padding:15px;
}
h2{
font: bold 14px verdana, sans-serif;
}
body{
text-align: center;
}
div {
width: 90%; /*comentarios*/
margin: 15px auto;
text-align: left;
}

article {
	width: 70%;
	margin: 20px;
	float: left;
}

section {
    border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
	float: left;
}

aside {
	width: 20%;
	margin: 20px 0px;
	float: left;
	padding: 20px;
	list-style: disc;
}

footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}


time {
	color: #999999;
}

figcaption {
	font: italic 14px verdana, sans-serif;
}



body nav{
	background: black;
	padding: 5px 15px;
}

body nav li {
	display: inline-block;
	color: white;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
	border-right: 2px solid #999999;
}
 /*Impresión

@media screen {
    p {
        font-family: verdana, sans-serif;
        font-size: 17px;
    }
}

@media print {
    p {
        font-family: georgia, serif;
        font-size: 14px;
        color: blue;
    }
}/*