body
{
	margin: 15px auto;
	text-align: left;
}
h1
{
	background: #CCCCCC;
	padding: 20px;
	margin: 0px;
}
nav
{
	background: black;
	color: white;
	padding: 5px 15px;
}
nav li
{
	border-right: 2px solid #999999;
	color: white;
	display: inline-block;
	list-style: none;
	padding: 5px;
}
article
{
	float: left;
	margin: 20px;
	width: 70%;
}
section
{
	float: left;
	margin-bottom: 15px;
	width: 90%;
}
figure img
{
	height: 100%;
	width: 100%;
}
aside
{
	float: left;
	list-style: disc;
	margin: 20px 0px;
	width: 20%;
}
footer
{
	border-top: 2px solid #999999;
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}
footer nav
{
	background: white;
}
footer nav li
{
	color: black;
}
@media only screen and (min-width: 240px) and (max-width:320px )
{
	h1
	{
		background: #CCCCCC;
		margin: 0px;
	}
	body
	{
		margin: 0px;
		padding: 0px;
	}
	nav
	{
		margin-bottom: 7px;
		margin-left: 7px;
		margin-top: 7px;
		padding: 0px;
	}
	nav li
	{
		border: none;
		padding: 0px;
		width: 100%;
	}
	article
	{
		margin: 0px;
	}
	section
	{
		padding: 0px;
		width: 100%;
	}
	figure img
	{
		height: 100%;
		width: 100%;
	}
	aside
	{
		display: none;
	}
	footer
	{
		padding: 0px;
	}
	footer nav
	{
		padding: 0px;
	}
	footer nav li
	{
		border: none;
		padding: 0px;
	}
}