h1
{
	background: #CCCCCC;
}
nav
{
	background: black;
	color: white;
}
nav li
{
	color: white;
	width: 100%;
}
figure img
{
	height: 100%;
	width: 100%;
}
aside
{
	display: none;
}
footer
{
	height: 100%;
	text-align: center;
	width: 100%;
}
footer nav
{
	background: white;
	text-align: center;
}
footer nav li
{
	color: black;
	height: 100%;
	width: 100%;
}
