body{
font-family:Arial;
margin-left:2%;
}

h1 {
 color:black;
 margin:0px;
 border:0;
 padding: 0.1em;
 font-size:4em;
 font-weight: bold;
}

h2 {
 color:black;
 margin:0px;
 border:0;
 padding: 0.1em;
 font-size:3em;
 font-weight: bold;
}

h3 {
margin:0px, 0px, 0px, 0px;
 color:#2D7BE5;
 font-size:2.5em;
 font-weight: bold;
}

h4 {
 color:#089E12;
 font-size:2em;
 font-weight: bold;
}

h5 {
 color:#D2342C;
 font-size:1.5em;
 font-weight: bold;
}

aside p span{
color:red;
}

img {
	width: 100%;
	min-width: 460px; 
	height: auto;
}

.dfoot {
	text-align:center;
}



/*mobile first*/



h3 + p {
	background:#F9CB9C;
	border-style:solid;
	padding:0.3%;
}

.menu1{
	width:100%;
}

.menu1 ul{
	list-style: none;
	display: block;
	margin: 0px 0px 0px 2px;
}

 .menu1 ul li{
	text-align: center;
	background:#DDDDDD;
	border:0px;
	display: block;
	margin-bottom: 5px;
	padding: 0.5%;
}

 .menu1 ul li:hover{

	background:gray;
}

.menu1 li.selected {
 background-color:red;
}

section {
	width:100%;
}

aside {
	margin:0px, 0px, 0px, 0px;
	width:100%;
}
	
.nfoot{
	display:none;
}


a:link, a:visited { 
	color:#406BA3;
    text-decoration: underline;
	font-size:1.2 em;
	font-weight: bold;
}

a:hover {
	color:black;
    text-decoration: none;
}

